.page-wrapper {
  /* background-color: gray; */
  margin-left: 20px;
}
.section-background {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: left;
}
.pannel-heading {
  font-size: 18px;
  padding: 30px 15px;
  color: #8be1f9;
}
.user-info-wrapper {
  /* margin: 10px 5px; */
  border-top: 2px solid #fbfcfd;
  border-bottom: 2px solid #fbfcfd;
  /* background-color: #f8f9fa; */
}
.user-info {
  margin: 10px 15px;
  padding: 15px 10px;
  background-color: #f8f9fa;
  border-radius: 20px;
}
.user-icon {
  height: 50px;
  width: 50px;
  background-color: #eeeeff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 12px;
}
.user-name-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.user-info-container {
  width: 75%;
}
.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}
.user-designation {
  font-size: 16px;
  color: #c7cad0;
}
.user-info-wrapper li {
  display: inline-block;
}
.icon-position {
  float: right;
  font-size: 35px;
  color: #cdd1da;
}
.screen-heading-wrapper {
  background-color: #fff;
  border-bottom-left-radius: 60px;
  padding: 20px 20px 20px 35px;
  height: 175px;
}
.screen-heading {
  color: #a6a8ac;
  font-size: 20px;
}
.sub-heading {
  font-size: 16px;
  color: #919398;
}
.block-wrapper {
  position: absolute;
  left: 27%;
  top: 19%;
}
.blocks {
  display: inline-block;
  color: #fff;
  margin: 0 20px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}
.acount-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 12px;
  background-color: #fff;
}
.c-account-block {
  background-color: #00b4ec;
}
.c-account-color {
  color: #00b4ec;
}
.info-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.account-count {
  font-size: 16px;
  margin-bottom: 0px;
}
.S-account-block {
  background-color: #4c52fa;
}
.S-account-color {
  color: #4c52fa;
}
.k-account-block {
  background-color: #00d09d;
}
.K-account-color {
  color: #00d09d;
}
.menu-list {
  padding: 5px;
  margin-top: 10px;
}
.menu {
  padding: 20px;
  color: #c2c6d1;
}
.menu:hover {
  background-color: #00b4ec;
  border-radius: 30px;
  color: #fff;
}
.menu-name {
  margin-left: 18px;
  vertical-align: top;
  font-size: 16px;
}
.float-menu {
  float: right;
}
.dashboard-cointaner {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}
